<%- include('../partials/header') %>

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h4 class="page-title">Learners</h4>
      <div class="breadcrumb-list">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/api/creator">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Learners</li>
        </ol>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="widgetbar">
        <button
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#addLearnerModal"
        >
          <i class="feather icon-plus"></i> Add Learners
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbbar -->

<!-- contentbar starts -->
<div class="contentbar">
  <!-- User list starts -->
  <div class="card m-b-30">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title">Learners</h5>
        <div class="d-flex justify-content-between align-items-center">
          <div class="searchbar m-r-10">
            <div class="input-group">
              <input
                type="search"
                class="form-control search_input"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="button-addon2"
                value="<%= search %>"
              />
              <div class="input-group-append">
                <button class="btn search-data" id="button-addon2">
                  <i class="feather icon-search"></i>
                </button>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- learners card starts -->
      <div class="row">
        <% learners.forEach(learner => { %>
        <div class="col-12 col-md-6 col-xl-4 m-b-25">
          <div class="card border-light">
            <a href="/api/creator/learner/<%= learner._id %>">
              <div class="card-body">
                <div>
                  <div class="row">
                    <div class="col-3">
                      <figure
                        style="
                          width: 60px;
                          height: 60px;
                          border-radius: 50%;
                          overflow: hidden;
                          object-fit: contain;
                        "
                      >
                        <img
                          src="/uploads/user/profile/<%= learner.profileImg %>"
                          class="w-100"
                          alt=""
                          onerror="this.src='/assets/images/common/avatar.png'"
                        />
                      </figure>
                    </div>
                    <div class="col-9">
                      <div
                        class="d-flex justify-content-between m-b-5 align-items-center"
                      >
                        <p class="text-dark font-18 m-0">
                          <%= learner.firstName %> <%= learner.lastName %>
                        </p>
                        <span
                          class="badge <%= learner.status ? 'badge-success' : 'badge-danger' %>"
                          ><%= learner.status ? 'Active': 'Inactive' %></span
                        >
                      </div>
                      <span class="d-block font-14"><%= learner.email %></span>
                      <span class="font-14 text-primary"
                        ><%= learner.phone %></span
                      >
                    </div>
                  </div>
                  <div class="row font-12 text-muted m-t-10">
                    <div class="col-6">
                      <p class="m-0">
                        Created At :
                        <span class="d-block font-13 text-secondary"
                          ><%= moment(learner.createdAt).format('ll') %></span
                        >
                      </p>
                    </div>
                    <div class="col-6">
                      <p class="m-0">
                        Updated At:
                        <span class="d-block font-13 text-secondary"
                          ><%= moment(learner.updatedAt).format('ll') %></span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="card-footer">
              <div class="d-flex flex-wrap">
                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Edit"
                  class="mr-3"
                >
                  <button
                    class="btn btn-primary-rgba edit_learner_btn"
                    data-toggle="modal"
                    data-target="#editLearnerModal"
                    data-learner="<%= JSON.stringify((({_id, firstName,lastName,email,phone,profileImg, status})=>({_id, firstName,lastName,email,phone,profileImg, status}))(learner)) %>"
                  >
                    <i class="feather icon-edit"></i>
                  </button>
                </div>
                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Change password"
                  class="mr-3"
                >
                  <button
                    class="btn btn-warning-rgba learner-change-password-btn"
                    data-toggle="modal"
                    data-target="#changePasswordModal"
                    data-id="<%= learner._id %>"
                  >
                    <i class="feather icon-lock"></i>
                  </button>
                </div>
                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Assign course"
                  class="mr-3"
                >
                  <button
                    class="btn btn-success-rgba"
                    data-toggle="modal"
                    data-target="#assignCourseModal"
                    data-id="<%= learner._id %>"
                  >
                    <i class="feather icon-book-open"></i>
                  </button>
                </div>
                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Purchase course"
                  class="mr-3"
                >
                  <button
                    class="btn btn-info-rgba"
                    data-toggle="modal"
                    data-target="#purchaseCourseModal"
                  >
                    <i class="feather icon-dollar-sign"></i>
                  </button>
                </div>
                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  title="All purchase"
                  class="mr-3"
                >
                  <button
                    class="btn btn-secondary-rgba"
                    data-toggle="modal"
                    data-target="#allPurchaseModal"
                  >
                    <i class="feather icon-database"></i>
                  </button>
                </div>
                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Delete Learner"
                >
                  <button
                    class="btn btn-danger-rgba delete_learner_btn"
                    data-toggle="modal"
                    data-target="#confirmDelete"
                    data-id="<%= learner._id %>"
                  >
                    <i class="feather icon-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <!-- learners card ends -->

      <% if (total > 1) { %>
        <!-- pagination starts -->
        <div class="d-flex justify-content-center">
          <ul class="pagination">
            <% if (Number(page) > 1) { %>
              <li class="page-item">
                <a class="page-link prev-page" data-prev="<%= Number(page) - 1 %>">«</a>
              </li>
            <% } %>
            <% if (Number(page) !== 1) { %>
              <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) - 1 %>"><%= Number(page) - 1 %></a></li>
            <% } %>
            <li class="page-item active">
              <a class="page-link page-num" data-page="<%= Number(page) %>"><%= Number(page) %></a>
            </li>
            <% if (Number(page) < Number(total)) { %>
              <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) + 1 %>"><%= Number(page) + 1 %></a></li>
            <% } %>
            <% if (Number(page) !== Number(total)) { %>
              <li class="page-item">
                <a class="page-link next-page" data-next="<%= Number(page) + 1 %>">»</a>
              </li>
            <% } %>
          </ul>
        </div>
        <!-- pagination ends -->
      <% } %>
    </div>
  </div>
  <!-- user list ends -->
</div>
<!-- contentbar starts -->

<!-- add modal starts -->
<div
  class="modal fade"
  id="addLearnerModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Add Learner</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="/api/creator/learner/add"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="firstName" class="text-dark">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="lastName" class="text-dark">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="email" class="text-dark">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="phone" class="text-dark">Phone</label>
                <input
                  type="tel"
                  class="form-control number"
                  id="phone"
                  name="phone"
                  maxlength="10"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="password" class="text-dark">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="confirmPassword" class="text-dark"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="userProfileImg" class="text-dark"
                  >Profile Image</label
                >
                <input
                  type="file"
                  name="userProfileImg"
                  id="userProfileImg"
                  class="dropify"
                  data-height="110"
                  accept="image/*"
                />
              </div>
            </div>
            <div class="col-6">
              <span>Inactive</span>
              <div class="custom-control custom-switch d-inline">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="status"
                  name="status"
                  value="true"
                />
                <label class="custom-control-label" for="status">Active</label>
              </div>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <button class="btn btn-success add_learner" type="submit">
                <i class="feather icon-plus m-r-5"></i> Add
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- add modal ends -->

<!-- edit modal starts -->
<div
  class="modal fade"
  id="editLearnerModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Edit Learner</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="edit-learner-form"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="edit_firstName" class="text-dark">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit_firstName"
                  name="firstName"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="edit_lastName" class="text-dark">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit_lastName"
                  name="lastName"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="edit_email" class="text-dark">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="edit_email"
                  name="email"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="edit_phone" class="text-dark">Phone</label>
                <input
                  type="tel"
                  class="form-control"
                  id="edit_phone"
                  name="phone"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="edit_userProfileImg" class="text-dark"
                  >Profile Image</label
                >
                <input
                  type="file"
                  name="userProfileImg"
                  id="edit_userProfileImg"
                  class="dropify"
                  data-height="110"
                  accept="image/*"
                />
              </div>
            </div>
            <div class="col-6">
              <span>Inactive</span>
              <div class="custom-control custom-switch d-inline">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="edit_status"
                  name="status"
                  value="true"
                />
                <label class="custom-control-label" for="edit_status"
                  >Active</label
                >
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-success edit_learner">
                <i class="feather icon-save"></i> Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- edit modal ends -->

<!-- edit password modal starts -->
<div
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Change Password</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" class="learner-change-password-form">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="change_password" class="text-dark">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="change_password"
                  name="password"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="change_confirmPassword" class="text-dark"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="change_confirmPassword"
                  name="confirmPassword"
                />
              </div>
            </div>
            <div class="col-12">
              <button
                type="submit"
                class="btn btn-success change_learner_password"
              >
                <i class="feather icon-save"></i> Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- edit password modal ends -->

<!-- delete modal starts -->
<div
  class="modal fade"
  id="confirmDelete"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-muted text-center font-18">
          Do you really want to delete this learner?
        </p>
        <div class="d-flex justify-content-center m-t-25">
          <button class="btn btn-secondary m-r-10" data-dismiss="modal">
            Cancel
          </button>
          <form class="delete_learner_form" method="POST">
            <button class="btn btn-danger">
              <i class="feather icon-trash m-r-5"></i>
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- delete modal ends -->

<%- include('../partials/footer') %>
