<%- include('../partials/header') %>

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h4 class="page-title">Testimonials</h4>
      <div class="breadcrumb-list">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/api/creator">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Testimonials
          </li>
        </ol>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="widgetbar">
        <button
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#addTestimonialModal"
        >
          <i class="feather icon-plus"></i> Add Testimonial
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbbar -->

<!-- contentbar starts -->
<div class="contentbar">
  <div class="card m-b-30">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title"></h5>
      <div class="d-flex">
        <div class="searchbar m-r-10">
          <div class="input-group">
            <input
              type="search"
              class="form-control search_input"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="button-addon2"
              value="<%= search %>"
            />
            <div class="input-group-append">
              <button class="btn search-data" id="button-addon2">
                <i class="feather icon-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <% testimonials.forEach(testimonial => { %>
        <!-- card starts -->
        <div class="col-12 col-md-6 col-xl-4 m-b-25">
          <div class="card border-light">
            <div class="card-body pb-0">
              <div class="d-lg-flex align-items-center">
                <figure style="width: 130px">
                  <img
                    class="w-100 bg-light"
                    style="max-height: 100px; object-fit: contain"
                    onerror="this.src='/assets/images/common/avatar.png'"
                    src="/uploads/testimonials/<%= testimonial.profile %>"
                    alt=""
                  />
                </figure>
                <div class="ml-0 ml-lg-3">
                  <h5 class="text-capitalize"><%= testimonial.name %></h5>
                  <span class="badge badge-info-inverse"
                    ><%= testimonial.designation %></span
                  >
                </div>
              </div>
              <p class="text-secondary read_more">
                <%- testimonial.description %>
              </p>
              <div
                class="d-flex justify-content-between align-items-start m-t-15 flex-wrap"
              >
                <p class="font-13">
                  Created At: <%= moment(testimonial.createdAt).format('ll') %>
                </p>
                <p class="font-13">
                  Updated At: <%= moment(testimonial.updatedAt).format('ll') %>
                </p>
              </div>
            </div>
            <div
              class="card-footer d-flex justify-content-between align-items-center flex-wrap"
            >
              <div class="d-flex align-items-center">
                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  class="mr-2"
                  title="Edit"
                >
                  <button
                    data-testimonial="<%= JSON.stringify(testimonial) %>"
                    class="btn btn-primary-rgba edit-testimonial-btn"
                    data-toggle="modal"
                    data-target="#editTestimonialModal"
                  >
                    <i class="feather icon-edit"></i>
                  </button>
                </div>
                <div data-toggle="tooltip" data-placement="top" title="Delete">
                  <button
                    data-id="<%= testimonial._id %>"
                    class="btn btn-danger-rgba delete-testimonial-btn"
                    data-toggle="modal"
                    data-target="#confirmDelete"
                  >
                    <i class="feather icon-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card ends -->
        <% }) %>
      </div>

      <% if (total > 1) { %>
        <!-- pagination starts -->
        <div class="d-flex justify-content-center">
          <ul class="pagination">
            <% if (Number(page) > 1) { %>
              <li class="page-item">
                <a class="page-link prev-page" data-prev="<%= Number(page) - 1 %>">«</a>
              </li>
            <% } %>
            <% if (Number(page) !== 1) { %>
              <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) - 1 %>"><%= Number(page) - 1 %></a></li>
            <% } %>
            <li class="page-item active">
              <a class="page-link page-num" data-page="<%= Number(page) %>"><%= Number(page) %></a>
            </li>
            <% if (Number(page) < Number(total)) { %>
              <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) + 1 %>"><%= Number(page) + 1 %></a></li>
            <% } %>
            <% if (Number(page) !== Number(total)) { %>
              <li class="page-item">
                <a class="page-link next-page" data-next="<%= Number(page) + 1 %>">»</a>
              </li>
            <% } %>
          </ul>
        </div>
        <!-- pagination ends -->
      <% } %>
    </div>
  </div>
</div>
<!-- contentbar starts -->

<!-- add modal starts -->
<div
  class="modal fade"
  id="addTestimonialModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Add Testimonial</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="/api/creator/testimonial/add"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name" class="text-dark">Name</label>
                <input type="text" class="form-control" id="name" name="name" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="designation" class="text-dark">Designation</label>
                <input
                  type="text"
                  class="form-control"
                  id="designation"
                  name="designation"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <label for="description" class="text-dark">Description</label>
              <textarea
                name="description"
                id="description"
                class="desc_summer"
              ></textarea>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="testimonialProfile" class="text-dark"
                  >Profile Image</label
                >
                <input
                  type="file"
                  name="testimonialProfile"
                  id="testimonialProfile"
                  class="dropify"
                  data-height="170"
                  accept="image/*"
                />
              </div>
            </div>
          </div>
          <div class="m-t-10">
            <button type="submit" class="btn btn-success add_testimonial">
              <i class="feather icon-plus m-r-5"></i> Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- add modal ends -->

<!-- edit modal starts -->
<div
  class="modal fade"
  id="editTestimonialModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Edit Testimonial</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" class="edit-testimonial-form" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="edit_name" class="text-dark">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit_name"
                  name="name"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="edit_designation" class="text-dark"
                  >Designation</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="edit_designation"
                  name="designation"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <label for="edit_description" class="text-dark"
                >Description</label
              >
              <textarea
                name="description"
                id="edit_description"
                class="desc_summer"
              ></textarea>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="edit_testimonialProfile" class="text-dark">Poster Image</label>
                <input
                  type="file"
                  name="testimonialProfile"
                  id="edit_testimonialProfile"
                  class="dropify"
                  data-height="170"
                  data-show-remove="false"
                  accept="image/*"
                />
              </div>
            </div>
          </div>
          <div class="m-t-10">
            <button type="submit" class="btn btn-success edit_testimonial">
              <i class="feather icon-save m-r-5"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- edit modal ends -->

<!-- delete modal starts -->
<div
  class="modal fade"
  id="confirmDelete"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-muted text-center font-18">
          Do you really want to delete this Testimonial?
        </p>
        <div class="d-flex justify-content-center m-t-25">
          <button class="btn btn-secondary m-r-10" data-dismiss="modal">
            Cancel
          </button>
          <form action="" class="delete-testimonial-form" method="POST">
            <button type="submit" class="btn btn-danger">
              <i class="feather icon-trash m-r-5"></i>
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- delete modal ends -->

<script>
  document.body.classList.add("toggle-menu");
</script>
<%- include('../partials/footer') %>
