<%- include('../partials/header') %>

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h4 class="page-title">Deleted Instructors</h4>
      <div class="breadcrumb-list">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/api/creator">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="/api/creator/instructor/list">Instructor</a></li>
          <li class="breadcrumb-item active" aria-current="page">Deleted Instructors</li>
        </ol>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="widgetbar">
        <a href="/api/creator/instructor/list">
          <button class="btn btn-primary">View Instructors</button>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbbar -->

<!-- contentbar starts -->
<div class="contentbar">
  <!-- instructor list starts -->
  <div class="card m-b-30">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title">Deleted Instructor</h5>
      <div class="d-flex">
        <div class="searchbar m-r-10">
          <div class="input-group">
            <input
              type="search"
              class="form-control search_input"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="button-addon2"
              value="<%= search %>"
            />
            <div class="input-group-append">
              <button class="btn search-data" id="button-addon2">
                <i class="feather icon-search"></i>
              </button>
            </div>
          </div>
      </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- card starts -->
        <% instructors.forEach(instructor => { %>
        <div class="col-12 col-md-6 col-xl-4 m-b-25">
          <div class="card border-light">
            <div class="card-body pb-0">
              <div class="d-flex align-items-center">
                <figure style="width: 100px" class="m-r-15 bg-light">
                  <% if (instructor.profileImg) { %>
                    <img
                      src="/uploads/instructors/profile/<%= instructor.profileImg %>"
                      alt=""
                      style="width: 100px; height: 100px; object-fit: contain"
                      onerror="this.src='/assets/images/common/avatar.png'"
                    />
                    <% } else { %>
                      <img
                        src="/assets/images/common/avatar.png"
                        alt=""
                        style="width: 100px; height: 100px; object-fit: contain"
                      />
                  <% } %>
                </figure>
                <div>
                  <h3><%= instructor.name %></h3>
                  <span><%= instructor.designation %></span>
                  <span
                    class="badge badge-danger"
                    >Deleted</span
                  >
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="font-13">Email: <%= instructor.email %></p>
                <p class="font-13">
                  Created At: <%= moment(instructor.createdAt).format('ll') %>
                </p>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div data-toggle="tooltip" data-placement="top" title="Restore">
                  <button
                    class="btn btn-success-rgba instructor_restore_btn"
                    data-toggle="modal"
                    data-target="#confirmRestore"
                    data-instructor="<%= instructor._id %>"
                  >
                    <i class="feather icon-refresh-cw"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
        <!-- card ends -->
      </div>
      <% if (total > 1) { %>
        <!-- pagination starts -->
        <div class="d-flex justify-content-center">
          <ul class="pagination">
            <% if (Number(page) > 1) { %>
              <li class="page-item">
                <a class="page-link prev-page" data-prev="<%= Number(page) - 1 %>">«</a>
              </li>
            <% } %>
            <% if (Number(page) !== 1) { %>
              <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) - 1 %>"><%= Number(page) - 1 %></a></li>
            <% } %>
            <li class="page-item active">
              <a class="page-link page-num" data-page="<%= Number(page) %>"><%= Number(page) %></a>
            </li>
            <% if (Number(page) < Number(total)) { %>
              <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) + 1 %>"><%= Number(page) + 1 %></a></li>
            <% } %>
            <% if (Number(page) !== Number(total)) { %>
              <li class="page-item">
                <a class="page-link next-page" data-next="<%= Number(page) + 1 %>">»</a>
              </li>
            <% } %>
          </ul>
        </div>
        <!-- pagination ends -->
      <% } %>
    </div>
  </div>
  <!-- instructor list ends -->
</div>
<!-- contentbar starts -->

<!-- restore modal starts -->
<div
  class="modal fade"
  id="confirmRestore"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-muted font-18 text-center">
          Do you really want to restore this Instructor?
        </p>
        <div class="d-flex justify-content-center m-t-25">
          <button class="btn btn-secondary m-r-10" data-dismiss="modal">
            Cancel
          </button>
          <form class="restore_instructor_form" action="" method="POST">
            <button class="btn btn-success">
              <i class="feather icon-refresh-cw m-r-5"></i>
              Restore
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- delete modal ends -->

<%- include('../partials/footer') %>
