<%- include('../partials/header') %>

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h4 class="page-title">Instructors</h4>
      <div class="breadcrumb-list">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/api/creator">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Instructor</li>
        </ol>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="widgetbar">
        <button
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#addInstructorModal"
        >
          <i class="feather icon-plus"></i> Add Instructor
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbbar -->

<!-- contentbar starts -->
<div class="contentbar">
  <!-- instructor list starts -->
  <div class="card m-b-30">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title">All Instructors</h5>
      <div class="d-flex">
        <div class="searchbar m-r-10">
          <div class="input-group">
            <input
              type="search"
              class="form-control search_input"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="button-addon2"
              value="<%= search %>"
            />
            <div class="input-group-append">
              <button class="btn search-data" id="button-addon2">
                <i class="feather icon-search"></i>
              </button>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- card starts -->
        <% instructors.forEach(instructor => { %>
        <div class="col-12 col-md-6 col-xl-4 m-b-25">
          <div class="card border-light h-100">
            <a href="/api/creator/instructor/<%= instructor._id %>">
            <div class="card-body pb-0">
              <div class="d-flex align-items-center">
                <figure style="width: 100px" class="m-r-15 bg-light">
                  <% if (instructor.profileImg) { %>
                    <img
                      src="/uploads/instructors/profile/<%= instructor.profileImg %>"
                      alt=""
                      style="width: 100px; height: 100px; object-fit: contain"
                      onerror="this.src='/assets/images/common/avatar.png'"
                    />
                    <% } else { %>
                      <img
                        src="/assets/images/common/avatar.png"
                        alt=""
                        style="width: 100px; height: 100px; object-fit: contain"
                      />
                  <% } %>
                </figure>
                <div>
                  <h3><%= instructor.name %></h3>
                  <span><%= instructor.designation %></span>
                  <span
                    class="badge <%= instructor.status ? 'badge-success' : 'badge-danger' %>"
                    ><%= instructor.status ? 'Active' : 'Inactive' %></span
                  >
                </div>
               
              </div>
              <div
                class="d-flex justify-content-between align-items-center flex-wrap"
              >
                <p class="font-13">Email: <%= instructor.email %></p>
                <p class="font-13">
                  Created At: <%= moment(instructor.createdAt).format('ll') %>
                </p>
              </div>
              <div class="mb-4 mt-2">
                <span class="font-14">Modules : </span>
                <% instructor.modules.forEach(mod => { %>
                <span class="badge badge-info"><%= mod %></span>
                <% }) %>
              </div>
            </div>
          </a>
            <div class="card-footer">
              <div class="d-flex align-items-center">
                <div data-toggle="tooltip" data-placement="top" title="Edit" class="mr-3">
                  <button
                    class="btn btn-primary-rgba edit_instructor_btn"
                    data-toggle="modal"
                    data-target="#editInstructorModal"
                    data-instructor="<%= JSON.stringify(instructor) %>"
                  >
                    <i class="feather icon-edit"></i>
                  </button>
                </div>
                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Reset Password"
                  class="mr-3"
                >
                  <button
                    class="btn btn-primary-rgba instructor_reset_password"
                    data-toggle="modal"
                    data-target="#resetPassword"
                    data-id="<%= instructor._id %>"
                  >
                    <i class="feather icon-lock"></i>
                  </button>
                </div>
                <div
                  data-toggle="tooltip"
                  data-placement="top"
                  title="<%= instructor.status ? 'Inactive' : 'Active' %>"
                  class="mr-3"
                >
                  <button
                    class="btn btn-dark-rgba instructor_status_toggle_btn"
                    data-toggle="modal"
                    data-target="#confirmInactiveModal"
                    data-id="<%= instructor._id %>"
                    data-status="<%= instructor.status %>"
                  >
                    <% if (instructor.status) { %>
                    <i class="feather icon-user-x"></i>
                    <% } else { %>
                    <i class="feather icon-user-check"></i>
                    <% } %>
                  </button>
                </div>

                <div data-toggle="tooltip" data-placement="top" title="Delete">
                  <button
                    class="btn btn-danger-rgba instructor_delete_btn"
                    data-toggle="modal"
                    data-target="#confirmDelete"
                    data-instructor="<%= instructor._id %>"
                  >
                    <i class="feather icon-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
        <!-- card ends -->
      </div>

      <% if (total > 1) { %>
        <!-- pagination starts -->
        <div class="d-flex justify-content-center">
          <ul class="pagination">
            <% if (Number(page) > 1) { %>
              <li class="page-item">
                <a class="page-link prev-page" data-prev="<%= Number(page) - 1 %>">«</a>
              </li>
            <% } %>
            <% if (Number(page) !== 1) { %>
              <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) - 1 %>"><%= Number(page) - 1 %></a></li>
            <% } %>
            <li class="page-item active">
              <a class="page-link page-num" data-page="<%= Number(page) %>"><%= Number(page) %></a>
            </li>
            <% if (Number(page) < Number(total)) { %>
              <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) + 1 %>"><%= Number(page) + 1 %></a></li>
            <% } %>
            <% if (Number(page) !== Number(total)) { %>
              <li class="page-item">
                <a class="page-link next-page" data-next="<%= Number(page) + 1 %>">»</a>
              </li>
            <% } %>
          </ul>
        </div>
        <!-- pagination ends -->
      <% } %>
    </div>
  </div>
  <!-- instructor list ends -->
</div>
<!-- contentbar starts -->

<!-- confirm inactive modal starts -->
<div
  class="modal fade"
  id="confirmInactiveModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-muted font-18 text-center status-toggle-tag"></p>
        <div class="d-flex justify-content-center m-t-25">
          <button class="btn btn-secondary m-r-10" data-dismiss="modal">
            Cancel
          </button>
          <form action="" class="instructor_status_toggle_form" method="POST">
            <button type="submit" class="btn btn-dark">
              <i class="feather icon-trash m-r-5"></i>
              <span class="status_toggle_btn_text"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- confirm inactive modal ends -->

<!-- add modal starts -->
<div
  class="modal fade"
  id="addInstructorModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Add Instructor</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="/api/creator/instructor/add"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="name" class="text-dark">Name</label>
                <input type="text" class="form-control" id="name" name="name" />
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="email" class="text-dark">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                />
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="designation" class="text-dark">Designation</label>
                <input
                  type="text"
                  class="form-control"
                  id="designation"
                  name="designation"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="password" class="text-dark">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="confirmPassword" class="text-dark"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="inst_description" class="mr-3 text-dark">
                  Description
                </label>
                <textarea
                  class="desc_summer"
                  id="inst_description"
                  name="description"
                ></textarea>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="profileImage" class="text-dark"
                  >Profile Image</label
                >
                <input
                  type="file"
                  name="profileImg"
                  id="profileImage"
                  class="dropify"
                  data-height="170"
                  accept="image/*"
                />
              </div>
            </div>
            <div class="col-12 mt-4">
              <div class="form-group">
                <label class="text-dark">Modules :</label>
                <div class="row">
                  <% modules.forEach((mod,i) => { %>
                  <div class="col-md-4">
                    <div
                      class="custom-control custom-checkbox custom-control-inline"
                    >
                      <input
                        class="custom-control-input"
                        id="module<%= i+ 1 %>"
                        type="checkbox"
                        value="<%= mod.value %>"
                        name="modules"
                      />
                      <label
                        class="custom-control-label"
                        for="module<%= i+ 1 %>"
                        ><%= mod.name %></label
                      >
                    </div>
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-success add_instructor">
                <i class="feather icon-save"></i> Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- add modal ends -->

<!-- edit modal starts -->
<div
  class="modal fade"
  id="editInstructorModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Edit Instructor</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action=""
          method="POST"
          class="edit_instructor_form"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="edit_name" class="text-dark">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit_name"
                  name="name"
                />
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="edit_email" class="text-dark">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="edit_email"
                  name="email"
                />
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="edit_designation" class="text-dark"
                  >Designation</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="edit_designation"
                  name="designation"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="edit_description" class="mr-3 text-dark">
                  Description
                </label>
                <textarea
                  class="desc_summer"
                  id="edit_description"
                  name="description"
                ></textarea>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="edit_profileImage" class="text-dark"
                  >Profile Image</label
                >
                <input
                  type="file"
                  name="profileImg"
                  id="edit_profileImage"
                  class="dropify"
                  data-height="170"
                  accept="image/*"
                />
              </div>
            </div>
            <div class="col-12 mt-4">
              <div class="form-group">
                <label class="text-dark">Modules :</label>
                <div class="row node-modules-wrap">
                  <% modules.forEach((mod,i) => { %>
                  <div class="col-md-4">
                    <div
                      class="custom-control custom-checkbox custom-control-inline"
                    >
                      <input
                        class="custom-control-input"
                        id="module<%= i+ 1 %>_edit"
                        type="checkbox"
                        value="<%= mod.value %>"
                        name="modules"
                      />
                      <label
                        class="custom-control-label"
                        for="module<%= i+ 1 %>_edit"
                        ><%= mod.name %></label
                      >
                    </div>
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-success edit_instructor">
                <i class="feather icon-plus"></i> Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- edit modal ends -->

<!-- delete modal starts -->
<div
  class="modal fade"
  id="confirmDelete"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-muted font-18 text-center">
          Do you really want to delete this Instructor?
        </p>
        <div class="d-flex justify-content-center m-t-25">
          <button class="btn btn-secondary m-r-10" data-dismiss="modal">
            Cancel
          </button>
          <form class="instructor_delete_form" method="POST">
            <button class="btn btn-danger" type="submit">
              <i class="feather icon-trash m-r-5"></i>
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- delete modal ends -->

<div
  class="modal fade"
  id="resetPassword"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Reset Password</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" class="reset_instructor_password_form">
          <div class="form-group">
            <label for="new_pass" class="text-dark">New Password</label>
            <input
              type="password"
              class="form-control"
              id="new_pass"
              name="newPassword"
            />
          </div>
          <div class="form-group">
            <label for="confirm_pass" class="text-dark">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirm_pass"
              name="confirmPassword"
            />
          </div>
          <button type="submit" class="btn btn-primary instructor_edit_password">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
