<%- include('../../partials/header') %>

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h4 class="page-title">Languages</h4>
      <div class="breadcrumb-list">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/api/creator">Dashboard</a></li>
          <!-- <li class="breadcrumb-item"><a href="/api/creator/course/list">Courses</a></li> -->
          <li class="breadcrumb-item active" aria-current="page">Languages</li>
        </ol>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="widgetbar">
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#languageModal"
        >
          <i class="feather icon-plus"></i>
          Add Language
        </button>
      </div>
      <!-- modal starts -->
      <div
        class="modal fade"
        id="languageModal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                Add Language
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/api/creator/course/language/add" method="POST">
                <div class="form-group">
                  <label for="language" class="text-dark">Language</label>
                  <input
                    type="text"
                    class="form-control"
                    id="language_input"
                    name="language"
                    placeholder="Enter Language here"
                  />
                </div>
                  <button type="submit" class="btn btn-success add_language">
                    <i class="feather icon-plus m-r-5"></i>Add
                  </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- modal ends -->
    </div>
  </div>
</div>
<!-- End Breadcrumbbar -->

<!-- contentbar starts -->
<div class="contentbar">
  <!-- search-sort starts -->
  <div class="row my-4">
    <div class="col-xl-3 col-lg-4 col-md-7 col-6">
      <div class="searchbar m-r-10">
        <div class="input-group">
          <input
            type="search"
            class="form-control search_input"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="button-addon2"
            value="<%= search %>"
          />
          <div class="input-group-append">
            <button class="btn search-data" id="button-addon2">
              <i class="feather icon-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- search-sort ends -->

  <!-- category list starts -->
  <div class="row">
    <!-- category cards starts -->
    <% courseLanguages.forEach(language => { %>
    <div class="col-md-6 col-lg-4 col-xl-3">
      <div class="card border-primary m-b-30">
        <div class="card-body">
          <div class="row">
            <div class="col-7 d-flex align-items-center">
              <h4 class="card-title font-20 m-0 text-capitalize">
                <%= language.name %>
              </h4>
            </div>
            <div class="col-5 d-flex justify-content-end">
              <div
                data-toggle="tooltip"
                data-placement="top"
                title="Edit"
                >
                <button
                  type="button"
                  class="btn btn-primary-rgba font-18 edit_course_language"
                  data-id="<%= language._id %>"
                  data-name="<%= language.name %>"
                >
                  <i class="feather icon-edit"></i>
                </button>
              </div>
              <div class="m-l-10 " data-toggle="tooltip" data-placement="top" title="Delete">
                <button
                  type="button"
                  class="btn btn-danger-rgba font-18 delete_course_language"
                  data-toggle="modal"
                  data-target="#confirmDelete"
                  data-id="<%= language._id %>"
                >
                  <i class="feather icon-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>

    <!-- category cards ends -->
  </div>
  <!-- category list ends -->

  <% if (total > 1) { %>
    <!-- pagination starts -->
    <div class="d-flex justify-content-center">
      <ul class="pagination">
        <% if (Number(page) > 1) { %>
          <li class="page-item">
            <a class="page-link prev-page" data-prev="<%= Number(page) - 1 %>">«</a>
          </li>
        <% } %>
        <% if (Number(page) !== 1) { %>
          <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) - 1 %>"><%= Number(page) - 1 %></a></li>
        <% } %>
        <li class="page-item active">
          <a class="page-link page-num" data-page="<%= Number(page) %>"><%= Number(page) %></a>
        </li>
        <% if (Number(page) < Number(total)) { %>
          <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) + 1 %>"><%= Number(page) + 1 %></a></li>
        <% } %>
        <% if (Number(page) !== Number(total)) { %>
          <li class="page-item">
            <a class="page-link next-page" data-next="<%= Number(page) + 1 %>">»</a>
          </li>
        <% } %>
      </ul>
    </div>
    <!-- pagination ends -->
  <% } %>
</div>
<!-- contentbar starts -->

        <!-- modal starts -->
        <div
        class="modal fade"
        id="confirmDelete"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-md"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-body">
              <p class="text-muted font-18 text-center">
                Do you really want to delete this Language?
              </p>
              <div class="d-flex justify-content-center m-t-25">
                <button
                  class="btn btn-secondary m-r-10"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <form class="delete_language_form" action="" method="POST">
                  <button type="submit" class="btn btn-danger delete_language_confirm">
                    <i class="feather icon-trash m-r-5"></i>
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- modal ends -->

<!-- Edit Language modal -->
<div
  class="modal fade"
  id="editLanguageModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Language</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="language-edit-form" action="" method="POST">
          <div class="form-group">
            <label for="language" class="text-dark">Language</label>
            <input
              type="text"
              class="form-control"
              id="language"
              name="language"
              placeholder="Enter Language here"
            />
          </div>
            <button type="submit" class="btn btn-success edit_language">
             <i class="feather icon-save m-r-5"></i> Save
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer') %>
