<%- include('../../partials/header') %>

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h4 class="page-title">Learners</h4>
      <div class="breadcrumb-list">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/api/creator">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/api/creator/course-bundle/list">Course Bundle</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Learners
          </li>
        </ol>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="widgetbar">
        <button class="btn btn-primary">
          <i class="feather icon-eye m-r-5"></i>
          Preview
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbbar -->

<!-- contentbar starts -->
<div class="contentbar">
  <div class="row">
    <div class="col-lg-3 col-xl-2">
      <div class="card m-b-30">
        <div class="card-body">
          <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link mb-2"
            id="v-pills-dashboard-tab"
            href="/api/creator/course-bundle/<%= bundleId %>"
            role="tab"
          >
            <i class="feather icon-grid mr-2"></i>Information</a
          >
          <a
          class="nav-link mb-2"
          id="v-pills-order-tab"
          href="/api/creator/diploma/<%= bundleId %>/list"
          role="tab"
        >
            <i class="feather icon-award mr-2"></i>Diploma</a
          >
          <a
            class="nav-link mb-2 active"
            id="v-pills-addresses-tab"
            href="/api/creator/course-bundle/details/<%= bundleId %>/learners"
            role="tab"
          >
            <i class="feather icon-users mr-2"></i>Learners</a
          >
          <a
            class="nav-link mb-2"
            id="v-pills-wishlist-tab"
            href="/api/creator/course-bundle/details/<%= bundleId %>/Certificates"
            role="tab"
          >
            <i class="feather icon-credit-card mr-2"></i>Certificates</a
          >
          <a
            class="nav-link mb-2"
            id="v-pills-wallet-tab"
            href="/api/creator/course-bundle/details/<%= bundleId %>/reviews"
            role="tab"
          >
            <i class="feather icon-star mr-2"></i>Reviews</a
          >
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-xl-10">
      <div class="card m-b-30">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Learners</h5>
            <div class="d-flex">
              <div class="searchbar m-r-10">
                <form>
                  <div class="input-group">
                    <input
                      type="search"
                      class="form-control"
                      placeholder="Search"
                      aria-label="Search"
                      aria-describedby="button-addon2"
                    />
                    <div class="input-group-append">
                      <button class="btn" type="submit" id="button-addon2">
                        <i class="feather icon-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="dropdown">
                <button
                  class="btn btn-outline-primary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Price - Low to high</a>
                  <a class="dropdown-item" href="#">Price - High to low</a>
                  <a class="dropdown-item" href="#">Popularity</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- learners card starts -->
          <div class="row">
            <div class="col-12 col-md-6 col-xl-4 m-b-25">
              <div class="card border-light">
                <div class="card-body">
                  <div>
                    <div class="row">
                      <div class="col-3">
                        <figure style="width: 60px">
                          <img
                            src="https://www.coursepe.com/assets/images/homepage/profile-placeholder.jpg"
                            class="w-100"
                            alt=""
                          />
                        </figure>
                      </div>
                      <div class="col-9">
                        <div class="d-flex justify-content-between m-b-5 align-items-center">
                          <p class="text-dark font-18 m-0">Dheeraj Kumar</p>
                          <span class="badge badge-success">Active</span>
                        </div>
                        <a href="mailto:abc@xyz.com" class="d-block font-14"
                          >dheeraj.kumar@gmail.com</a
                        >
                        <a href="tel:213456897" class="font-14"
                          >+91 1235647895</a
                        >
                      </div>
                    </div>
                    <div class="row font-12 text-muted m-t-10">
                      <div class="col-6">
                        <p class="m-0">
                          Created At :
                          <span class="d-block font-13 text-secondary"
                            >Wed 19 Apr 2023</span
                          >
                        </p>
                      </div>
                      <div class="col-6">
                        <p class="m-0">
                          Updated At:
                          <span class="d-block font-13 text-secondary"
                            >Tue 23 Jul 2023</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between">
                    <button
                      class="btn btn-primary-rgba"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Edit"
                    >
                      <i class="feather icon-edit"></i>
                    </button>
                    <button
                      class="btn btn-warning-rgba"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Change password"
                    >
                      <i class="feather icon-lock"></i>
                    </button>
                    <button
                      class="btn btn-dark-rgba"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Inactive"
                    >
                      <i class="feather icon-user-x"></i>
                    </button>
                    <button
                      class="btn btn-success-rgba"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Assign course"
                    >
                      <i class="feather icon-book-open"></i>
                    </button>
                    <button
                      class="btn btn-info-rgba"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Purchase course"
                    >
                      <i class="feather icon-dollar-sign"></i>
                    </button>
                    <button
                      class="btn btn-secondary-rgba"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="All purchase"
                    >
                      <i class="feather icon-database"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- learners card ends -->

          <!-- pagination starts -->
          <div class="d-flex justify-content-center">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" tabindex="-1">«</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#"
                  >2 <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">»</a>
              </li>
            </ul>
          </div>
          <!-- pagination ends -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- contentbar ends --><%- include('../../partials/footer') %>
<script>
  document.body.classList.add("toggle-menu");
  $(".dropify").dropify();
</script>
