<%- include('../partials/header') %>

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h4 class="page-title">Deleted Products</h4>
      <div class="breadcrumb-list">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/api/creator">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="/api/creator/product/list">Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">Deleted Products</li>
        </ol>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="widgetbar">
        <a
          href="/api/creator/product/list"
          class="btn btn-primary"
          >View Products</a
        >
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbbar -->

<!-- contentbar starts -->
<div class="contentbar">
  <!-- search-sort starts -->
  <div class="row my-4">
    <div class="col-xl-3 col-lg-4 col-md-7 col-6">
      <div class="searchbar m-r-10">
        <div class="input-group">
          <input
            type="search"
            class="form-control search_input"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="button-addon2"
            value="<%= search %>"
          />
          <div class="input-group-append">
            <button class="btn search-data" id="button-addon2">
              <i class="feather icon-search"></i>
            </button>
          </div>
        </div>
    </div>
    </div>
  </div>
  <!-- search-sort ends -->

  <!-- course list starts -->
  <div class="row">
    <% products.forEach(product => { %>
      <div class="col-md-6 col-lg-4">
        <div class="card card-with-strip m-b-30">
          <div class="card-strip deleted"></div>
          <div class="card-img-wrap">
            <% if (product.thumbnailImage) { %>
              <img
                height="250"
                style="object-fit: cover"
                class="card-img-top"
                src="/uploads/products/thumbnails/<%= product.thumbnailImage %>"
                alt="Card image cap"
                onerror="this.src='/assets/images/common/placeholder.webp'"
              />
              <% } else { %>
              <img
                height="250"
                style="object-fit: cover"
                class="card-img-top"
                src="/assets/images/common/placeholder.webp"
                alt="Card image cap"
              />
              <% } %>
            <div class="price">
              <span class="discounted-price font-13">
                <%= product.price.toLocaleString('en-IN', {
                  maximumFractionDigits: 2, style:'currency', currency: 'INR' })
                  %>
              </span>
              <span class="actual-price m-l-5">
                <%= product.price.toLocaleString('en-IN', {
                  maximumFractionDigits: 2, style:'currency', currency: 'INR' })
                  %>
              </span>
            </div>
          </div>
          <div class="card-body">
            <p class="">
              <sub class="publish-date"><%= moment(product.createdAt).format('ll') %></sub>
              <i class="mdi mdi-circle font-5 m-r-10 m-l-5"></i>
              <% product.language.forEach(lang => { %>
                <sub class="language"><%= lang.name %></sub>
                <% }) %>
            </p>
            <h5 class="card-title font-18 text-capitalize">
              <%= product.title %>
              <span class="badge badge-default m-l-10"><%= product.category.title %></span>
            </h5>

            <div class="row font-14 text-secondary">
              <div class="col">
                <i class="m-r-5 feather icon-user"></i>119 Purchase
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <span title="Restore" data-toggle="tooltip" data-placement="top">
                <button
                  type="button"
                  class="btn btn-success-rgba font-18 restore_product_btn"
                  title="Restore"
                  data-toggle="modal"
                  data-target="#confirmRestore"
                  data-id="<%= product._id %>"
                >
                  <i class="feather icon-refresh-cw"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
  <!-- course list ends -->
  <% if (total > 1) { %>
    <!-- pagination starts -->
    <div class="d-flex justify-content-center">
      <ul class="pagination">
        <% if (Number(page) > 1) { %>
          <li class="page-item">
            <a class="page-link prev-page" data-prev="<%= Number(page) - 1 %>">«</a>
          </li>
        <% } %>
        <% if (Number(page) !== 1) { %>
          <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) - 1 %>"><%= Number(page) - 1 %></a></li>
        <% } %>
        <li class="page-item active">
          <a class="page-link page-num" data-page="<%= Number(page) %>"><%= Number(page) %></a>
        </li>
        <% if (Number(page) < Number(total)) { %>
          <li class="page-item"><a class="page-link page-num" data-page="<%= Number(page) + 1 %>"><%= Number(page) + 1 %></a></li>
        <% } %>
        <% if (Number(page) !== Number(total)) { %>
          <li class="page-item">
            <a class="page-link next-page" data-next="<%= Number(page) + 1 %>">»</a>
          </li>
        <% } %>
      </ul>
    </div>
    <!-- pagination ends -->
  <% } %>
</div>
<!-- contentbar starts -->

<!-- restore modal starts -->
<div
class="modal fade"
id="confirmRestore"
tabindex="-1"
role="dialog"
aria-hidden="true"
>
<div
  class="modal-dialog modal-dialog-centered modal-md"
  role="document"
>
  <div class="modal-content">
    <div class="modal-body">
      <p class="text-muted font-18 text-center">
        Do you really want to restore this Product?
      </p>
      <div class="d-flex justify-content-center m-t-25">
        <button
          class="btn btn-secondary m-r-10"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <form class="restore_product_form" action="" method="POST">
          <button class="btn btn-success">
            <i class="feather icon-refresh-cw m-r-5"></i>
            Restore
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- restore modal ends -->


<%- include('../partials/footer') %>
<script>
  document.body.classList.add("toggle-menu");
</script>
